@import "../../Common/colors.css";

.cardContainer{
    margin: 20px 0px;
}

.cardContainer h2{
    color: var( --font-secondary);
    margin-bottom: 10px;
    font-weight: 400;
}

.Loader{

    text-align: center;
    color: var(--font-primary);
    font-size: larger;
}